@import "tailwindcss";
@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
  .animate-pulse-scale {
    animation: pulse-scale 2s ease-in-out 0.5s infinite;
  }
  @keyframes pulse-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  .futuristic-card-bg {
    background: radial-gradient(57.89% 132% at 65.79% -35%, rgba(120, 123, 255, .06) 0%, rgba(120, 123, 255, 0) 100%),
      linear-gradient(180deg, rgba(255, 255, 255, 0) 54.17%, rgba(255, 255, 255, .04) 100%),
      rgba(255, 255, 255, .01);
  }
  .text-gradient-white {
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}
:root {
  --background: #f5f8ff;
  --foreground: #171717;
  --color-blue: #5A71E6;
}
@media (max-width: 767px) {
  :root {
    --vw: 3vw;
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--color-blue);
}
@layer components {}
@layer utilities {}